-- Add notifications_enabled to users table and organization_email to assessments table

-- Add notifications_enabled column to users table
ALTER TABLE users ADD COLUMN IF NOT EXISTS notifications_enabled boolean NOT NULL DEFAULT false;

-- Add organization_email column to assessments table  
ALTER TABLE assessments ADD COLUMN IF NOT EXISTS organization_email text;

-- Update existing records to have default values
UPDATE users SET notifications_enabled = false WHERE notifications_enabled IS NULL;
UPDATE assessments SET organization_email = NULL WHERE organization_email IS NULL;
